.classpath
.project
.settings/
target/
test-output/Default suite/Default test.html
test-output/Default suite/Default test.xml
test-output/Default suite/testng-failed.xml
test-output/bullet_point.png
test-output/collapseall.gif
test-output/emailable-report.html
test-output/failed.png
test-output/index.html
test-output/jquery.min.js
test-output/junitreports/TEST-testng.AccountsFunctionality.xml
test-output/navigator-bullet.png
test-output/old/Default suite/Default test.properties
test-output/old/Default suite/classes.html
test-output/old/Default suite/groups.html
test-output/old/Default suite/index.html
test-output/old/Default suite/main.html
test-output/old/Default suite/methods-alphabetical.html
test-output/old/Default suite/methods-not-run.html
test-output/old/Default suite/methods.html
test-output/old/Default suite/reporter-output.html
test-output/old/Default suite/testng.xml.html
test-output/old/Default suite/toc.html
test-output/old/index.html
test-output/passed.png
test-output/skipped.png
test-output/testng-failed.xml
test-output/testng-reports.css
test-output/testng-reports.js
test-output/testng-reports1.css
test-output/testng-reports2.js
test-output/testng-results.xml
test-output/testng.css
 create mode 100644 allure-report/app.js
 create mode 100644 allure-report/data/behaviors.csv
 create mode 100644 allure-report/data/behaviors.json
 create mode 100644 allure-report/data/categories.csv
 create mode 100644 allure-report/data/categories.json
 create mode 100644 allure-report/data/packages.json
 create mode 100644 allure-report/data/suites.csv
 create mode 100644 allure-report/data/suites.json
 create mode 100644 allure-report/data/test-cases/1c5a331702f49870.json
 create mode 100644 allure-report/data/test-cases/a4d498ac22ea074a.json
 create mode 100644 allure-report/data/test-cases/b6d7f56ad39f8c4.json
 create mode 100644 allure-report/data/test-cases/ea0c9140516f871a.json
 create mode 100644 allure-report/data/timeline.json
 create mode 100644 allure-report/export/influxDbData.txt
 create mode 100644 allure-report/export/mail.html
 create mode 100644 allure-report/export/prometheusData.txt
 create mode 100644 allure-report/favicon.ico
 create mode 100644 allure-report/history/categories-trend.json
 create mode 100644 allure-report/history/duration-trend.json
 create mode 100644 allure-report/history/history-trend.json
 create mode 100644 allure-report/history/history.json
 create mode 100644 allure-report/history/retry-trend.json


