.classpath
.project
.settings/
target/
test-output/Default suite/Default test.html
test-output/Default suite/Default test.xml
test-output/Default suite/testng-failed.xml
test-output/bullet_point.png
test-output/collapseall.gif
test-output/emailable-report.html
test-output/failed.png
test-output/index.html
test-output/jquery.min.js
test-output/junitreports/TEST-testng.AccountsFunctionality.xml
test-output/navigator-bullet.png
test-output/old/Default suite/Default test.properties
test-output/old/Default suite/classes.html
test-output/old/Default suite/groups.html
test-output/old/Default suite/index.html
test-output/old/Default suite/main.html
test-output/old/Default suite/methods-alphabetical.html
test-output/old/Default suite/methods-not-run.html
test-output/old/Default suite/methods.html
test-output/old/Default suite/reporter-output.html
test-output/old/Default suite/testng.xml.html
test-output/old/Default suite/toc.html
test-output/old/index.html
test-output/passed.png
test-output/skipped.png
test-output/testng-failed.xml
test-output/testng-reports.css
test-output/testng-reports.js
test-output/testng-reports1.css
test-output/testng-reports2.js
test-output/testng-results.xml
test-output/testng.css
 create mode 100644 allure-report/plugin/behaviors/index.js
 create mode 100644 allure-report/plugin/packages/index.js
 create mode 100644 allure-report/plugin/screen-diff/index.js
 create mode 100644 allure-report/plugin/screen-diff/styles.css
 create mode 100644 allure-report/styles.css
 create mode 100644 allure-report/widgets/behaviors.json
 create mode 100644 allure-report/widgets/categories-trend.json
 create mode 100644 allure-report/widgets/categories.json
 create mode 100644 allure-report/widgets/duration-trend.json
 create mode 100644 allure-report/widgets/duration.json
 create mode 100644 allure-report/widgets/environment.json
 create mode 100644 allure-report/widgets/executors.json
 create mode 100644 allure-report/widgets/history-trend.json
 create mode 100644 allure-report/widgets/launch.json
 create mode 100644 allure-report/widgets/retry-trend.json
 create mode 100644 allure-report/widgets/severity.json
 create mode 100644 allure-report/widgets/status-chart.json
 create mode 100644 allure-report/widgets/suites.json
 create mode 100644 allure-report/widgets/summary.json
 create mode 100644 allure-results/006f076a-1618-4f9f-8eea-983dd3f3d714-result.json
 create mode 100644 allure-results/1c28276a-dff5-49e8-99a8-4241e3e35425-container.json
 create mode 100644 allure-results/2033cc06-04f8-4dd5-a0e5-21fb186f865c-container.json
 create mode 100644 allure-results/22b3ca33-e03e-4fd8-b63f-456d4064288f-container.json
 create mode 100644 allure-results/2ad5e7e2-574e-4b34-9b39-80648c7032ca-container.json
 create mode 100644 allure-results/396d7a8e-9d18-4d1f-9a2a-9bdb11011a5f-result.json
 create mode 100644 allure-results/8d0f69a7-1267-4fac-aee1-fff7f72357b3-container.json
 create mode 100644 allure-results/8df15c17-ed79-49df-aade-44cfdc8508d3-container.json
 create mode 100644 allure-results/95cab200-e2ec-4a3c-b620-d3d4c99e350e-container.json
 create mode 100644 allure-results/9fbafe70-15c5-4a55-8287-becb299120d5-container.json
 create mode 100644 allure-results/a75476fe-4f10-470b-a90a-0a345b3e2009-container.json
 create mode 100644 allure-results/adeb3388-516f-46d2-92d5-2c23a4058bf4-container.json
 create mode 100644 allure-results/c5807791-6d08-4437-9661-d188d8d2c354-result.json
 create mode 100644 allure-results/d12fc4e8-7d74-41dd-a916-b035481c23d7-container.json
 create mode 100644 allure-results/d663d06b-a01e-45fa-847c-d89e2e948697-container.json
 create mode 100644 allure-results/dfea227a-2211-4974-9dc1-2ac3e4c4323e-container.json
 create mode 100644 allure-results/e757cc09-2687-4dc1-99fd-96adb9a0ebab-result.json
 create mode 100644 allure-results/f2041dc6-e5e5-4114-8aa5-ae212bf3b3c9-container.json
 create mode 100644 allure-results/f5403db5-2233-4295-ad5e-eaa7258548a2-container.json


